* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto auto;
}

.center-aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header {
  flex-grow: 1;
}

/* .appbar-title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
	width: 30%;
	float: left;
}

.appbar-logout {
	width: 70%;
	float: right;
}

.appbar-logout-button {
	letter-spacing: 1.2;
	float: right;
	background-color: 'white';
} */

.app {
  width: 100%;
  position: relative;
}
.app-component {
}

.landing-page {
  height: 650px;
}

.dashboard {
  height: 700px;
}

.auth-forms {
}

.auth-forms-item {
  width: 100%;
  position: relative;
}

.auth-forms-info {
  width: 100%;
  position: relative;
  font-weight: 600;
}

.auth-forms-info a {
  cursor: pointer;
  text-decoration: underline wavy #3f51b5;
}

.auth-forms-item-login,
.auth-forms-item-register {
  height: 400px;
  width: 300px;
  margin: auto;
}

.auth-forms-item-register-info {
  margin: 20px;
}

.dashboard-team-header {
  font-size: 50px;
  margin: 50px 0px 0px 0px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
}
.dashboard-team-subheader {
  font-size: 12px;
  color: grey;
}
.dashboard-team-details {
  height: 65%;
  width: 70%;
  margin: auto;
}
