* {
	margin : 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin: auto auto;
}

.center-aligned {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.appbar-title {
	padding: 20px 0px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.app {
  height: 650px;
}